*~
.Rapp.history
.RData
.Rhistory
.Rproj.user/
inst/stan/**
!inst/stan/**/*.*
inst/stan/**/*.exe
inst/stan/**/*.EXE
*.dll
*.o
*.so
bin/
docs/
README.html
README.knit.md
README.utf8.md
vignettes/*_cache/
vignettes/*_files/
